*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main{
  display: flex;
  justify-content: space-between;
  height: 100vh;
}

img{
  width: 100%;
}

.column{
  flex-direction: column;
}
.d-flex{
  display: flex;
}

.justify-content{
  justify-content: center;
}

.text-white{
  color: white;
}

.align-items{
  align-items: center;
}

.red-corner{
  background-color: red;
  width: 25vw;
}

.neutral-corner{
  background-color: #b9b9bb;
  width: 50vw;
}

.blue-corner{
  background-color: blue;
  width: 25vw;
}



iframe{
  width: 100%;
  border: none;
}

img{
  width: 100%;
}

.relative{
  position: relative;
}

.box-risultato{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}